<div class="center" style="position: fixed;width: 100%;height: 100%;">
    <ul  rn-carousel="" rn-carousel-controls="" rn-carousel-index="$parent.carouselIndex" rn-carousel-buffered="" class="carousel1 ng-scope" style="text-align: center; padding-top:40px">
        <li ng-repeat="slide in slides"
            style=" display: inline-block; transform: translate3d(0%, 0px, 0px);">
            <!--<h1>{{slide.label}}</h1>-->
            <img  ng-src="img/slider/{{slide.img}}" class="img-responsive img-circle "  style="margin: 0 auto;
         border: 10px solid #D2D2D2; max-width: 200px">
            <p class="slider-description">{{slide.description}}</p>
            <button ng-click="clickSliderButton(slide)" class="btn btn-success slider-btn">{{slide.name}}</button>
        </li>
    </ul>
</div>

