<!DOCTYPE html>
<!---->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta http-equiv="Cache-control" content="no-cache">
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />-->
    <!-- <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" /> -->
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-ui-switch/angular-ui-switch.min.css"/>
    <link rel="stylesheet" href="bower_components/angular-rangeslider/angular.rangeSlider.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="bower_components/timePicker/ez-timepicker.min.css">
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.css">
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.css">
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-plain.css">

    <link rel="stylesheet" href="bower_components/angular-carousel/dist/angular-carousel.css">
    <link rel="stylesheet" href="css/myslider.css">

    <link rel="stylesheet" type="text/css" href="css/radio/build.css">
    <link rel="stylesheet" type="text/css" href="css/animate.css">

    <script src="bower_components/angular/jquery-1.10.2.min.js"></script>
    <!--<script type="application/javascript" src="cordova.js"></script>-->
    <!--<script type="application/javascript" src="js/index.js"></script>-->
    <script type="application/javascript">
        function myFunction(){
            window.localStorage.clear();
            var storage = window.localStorage;
            storage.setItem("statusPhone","false");
        };
    </script>
    <style>
        div.viewport {
            /*width: 320px;*/
            margin: 0 auto;
        }
        div.item {
            /*width: 200px;*/
            text-align: center;
            padding: 0 50px 0 50px;
        }
    </style>




</head>
<body ng-class="first_class " ng-app="myApp" id="deviceready" ng-controller="FlowManagerController" onunload="myFunction()" >
<span style="display: none" class="event listening">event listening</span>
<span style="display: none" class="event received">event received</span>



<div class=" my-background" >

    <div style="" class="my-header">
			<i class="fa fa-bars fa-2x pull-left my-header-nav"></i>
			<span style="font-size: 16pt;" class="fa-2x pull-left">HUE Info</span>
			<i class="fa fa-ellipsis-v fa-2x pull-right my-header-nav"></i>
			<i class="fa fa-search fa-2x pull-right " ></i>
			
			<div class="clearfix"></div>

			<div nav-bar class="top-navigation" ng-model= "carouselIndex">  <!-- ;overflow-x: auto; width: {{windowWidth}}px; -->
                <div  ng-click="clickbar($index)"  ng-repeat="slide in slides" class="nav-item" >
							<p >{{slide.name | uppercase}} </p> 
				<div class="green-line" ng-class="{'nav-item-after-show': $index == carouselIndex}"></div>
                </div>
                <div   class="nav-item" menu-space  > </div>
			</div>

		</div>

    <!--<ul rn-carousel="" rn-carousel-controls="" rn-carousel-index="$parent.carouselIndex" rn-carousel-buffered="" class="carousel1 ng-scope" style="text-align: center; padding-top:40px">&ndash;&gt;-->
        <!--&lt;!&ndash;<li ng-repeat="slide in $parent.slides|carouselSlice:carouselBufferIndex:carouselBufferSize track by slide.id"&ndash;&gt;-->
            <!--style=" display: inline-block; transform: translate3d(-200%, 0px, 0px);">-->
            <!--&lt;!&ndash;<h1>{{slide.label}}</h1>&ndash;&gt;-->
            <!--<img  ng-src="img/slider/{{slide.img}}" class="img-responsive img-circle "  style="margin: 0 auto;-->
         <!--border: 10px solid #D2D2D2; max-width: 200px">-->
            <!--<p class="slider-description">{{slide.description}}</p>-->
            <!--<button class="btn btn-success slider-btn">{{slide.name}}</button>-->
        <!--</li>-->
    <!--</ul>-->
    <div ng-view=""></div>
</div>


<!--JAVASCRIPT FILE-->
<!------------------------------------------------------------------>
<script type="application/javascript" src="js/fastclick.js"></script>


<script type="application/javascript" src="bower_components/angular/angular.js"></script>
<script type="application/javascript" src="bower_components/angular/angular-cookies.js"></script>
<script type="application/javascript" src="bower_components/angular/angular-route.js"></script>
<script type="application/javascript" src="bower_components/angular/angular-resource.js"></script>
<script type="application/javascript" src="bower_components/angular/angular-touch.min.js"></script>

<script type="application/javascript" src="bower_components/ng-infinite-scroll.min.js"></script>
<script type="application/javascript" src="bower_components/ngDialog/js/ngDialog.min.js"></script>

<script type="application/javascript" src="bower_components/angular-flipsnap/flipsnap.js"></script>
<script type="application/javascript" src="bower_components/angular-flipsnap/angular-flipsnap.js"></script>



<script src="bower_components/angular-carousel/dist/angular-carousel.js"></script>
<!--Zoom-->
<script type="application/javascript" src="bower_components/angular-pan-zoom/release/panzoom-custom.js"></script>
<script type="application/javascript" src="bower_components/angular-mousewheel/mousewheel.js"></script>
<script type="application/javascript" src="bower_components/hamsterjs/hamster.js"></script>

<script src="bower_components/ng-error/ng-error.js"></script>


<script type="application/javascript" src="js/app.js"></script>


<script type="application/javascript" src="js/controllers/FlowManagerController.js"></script>
<script type="application/javascript" src="js/controllers/SliderCtrl.js"></script>
<script type="application/javascript" src="js/controllers/FestivalCtrl.js"></script>

<script type="application/javascript" src="bower_components/map/lodash.min.js" ></script>
<script type="application/javascript" src="bower_components/map/angular-google-maps.min.js"></script>
<script type="application/javascript" src="bower_components/moment-with-locales.js"></script>


</body>
</html>
