.carousel-demo{
    margin-top: 20px;
    display: inline-block;
    text-align: center;
}


.center {
    text-align: center;
}
.bgimage {
    text-align:right;
    color:white;
    background-size:cover;
    height: 100%;
    background-position: center center;
}

ul[rn-carousel] {
    width:100%;
    height:100%;
    margin: 0 auto;
}

.carousel5 li {
    width:100%;
    height:100%;
    font-size:30px;
    background-color: #ccc;
}

.carousel-demo {
    margin-top:20px;
    display:inline-block;
    text-align: center;
}
.carousel-demo-fullscreen {
    width:100%;
    height:100%;
}
.carousel-demo-fullscreen ul[rn-carousel] {
    width:100%;
    height:100%;
}

input.tiny {
    width:50px;
    text-align:center;
}


.carousel-demo ul[rn-carousel-transition="hexagon"] {
    margin-left:100px;
}

.custom-indicator span {
    transition: all 0.3s ease-in;
}
.custom-indicator span.active {
    color:yellow !important;
}


.my-background{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,f7efff+100 */
    background: #eeeeee; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #eeeeee 0%, #f7efff 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #eeeeee 0%,#f7efff 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #eeeeee 0%,#f7efff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#f7efff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.slider-description{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    text-align: center;
}

.my-header{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9760e5+0,4f3965+100 */
   /*  background: #4d3b56; /* Old browsers */ 
	background-image: url("../img/nav/acb.png");
	background-size: 100% 100%;
   /*  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9760e5', endColorstr='#4f3965',GradientType=1 ); */ /* IE6-9 fallback on horizontal gradient */
	-webkit-box-shadow: -1px 35px 58px -25px rgba(118,65,153,1);
	-moz-box-shadow: -1px 35px 58px -25px rgba(118,65,153,1);
	box-shadow: -1px 35px 58px -25px rgba(118,65,153,1);
    color:white;
    padding-top: 10px;
    padding-bottom: 50px;
	
	
	
}
.my-header-nav{
    /*padding-top: 6px;*/
    padding-left:10px;
    padding-right:10px;
}

.slider-btn{
    width: 70%;
    border-radius:1px;
background: #764199 !important;
    font-size: 13pt;
}

.nav-item{
	
	display: inline-block; 
	padding-right:15px;
	padding-left:15px;

	padding-bottom: 5px;
	position:relative;
	text-align: center;
	/* border-bottom: 3px solid green;  */
	/* padding-top: 15px; */
	
}

.top-navigation {
	margin-top: 15px; 
	position:absolute;
    overflow-x: auto;
	white-space: nowrap;

}

.green-line {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 6px;
  background-color: green;
  content: "";
  transform: scale(0);
  -webkit-transform: scale(0);
  
	-webkit-transition: all 200ms ease;
        transition: all 200ms ease;;
}
.nav-item-after-show {
	
	-webkit-transform: scale(1);
	   transform: scale(1);
}